
/* source sans pro */
@font-face {
	font-family: "GT-America";
	font-style: normal;
	font-weight: 400;
	src: url('fonts/GT-America-Expanded-Regular.woff2') format('woff2');
}

:root {
	--nav-bg: #C6DEB0 ;

	--darker-green: #0C4A3A;
	--dark-green: #1E7158;
	--middle-green: #678D58;
	--light-green: #A6C48A;
}


/************ element defaults ***********/

* {
	font-family: GT-America !important;

	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

a {
	color: #0C4A3A;
}

a:hover {
	text-decoration: underline;
	color: #0C4A3A;
}

/******** button icons *********/

.home-filled-btn, .explore-filled-btn,.myplants-filled-btn, .home-outlined-btn, .explore-outlined-btn, .myplants-outlined-btn {
	display: flex;
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
}

.home-filled-btn {
	background-image: url("icons/home-filled.svg");
}

.home-outlined-btm {
	background-image: url("icons/home-outlined.svg");
}

.explore-filled-btn {
	background-image: url("icons/explore-filled.svg");
}

.explore-outlined-btn {
	background-image: url("icons/explore-outlined.svg");
}

.myplants-filled-btn {
	background-image: url("icons/plant-filled.svg");
}

.myplants-outlined-btn {
	background-image: url("icons/plant-outlined.svg");
}

/* pre made styles */

.flex {
	display: flex;
}

.flex-col {
	display: flex;
	flex-direction: column;
}

/* primary content */
main {
	display: flex;
	flex-direction: column;
	flex: 1 1;
	overflow: auto;
	padding: 0 1rem;
}

.page {
	position: relative;
	display: flex;
	flex-direction: column;
	flex: 1 1;
}


/* navbar */
nav {
	display: flex;
	justify-content: space-around;
	background: var(--nav-bg);
	border-radius: 24px 24px 0px 0px;
	height: 4rem;
}

nav > * {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	flex-basis: 50%;
	font-size: .4rem;
}

nav > * > * {
	height: 1.3rem;
	width: 1.3rem;
	margin: .3rem;
}

/**** login layouts *****/

.login {
	background: #ffffff;
	justify-content: center;
	padding: 3rem;
}

.login img{
	height: 100%;
	width: 100%;
}

.login > .login-form {
	flex-basis: 40%;
}

input[type=text] {
	color: var(--darker-green);
	border: 2px solid var(--light-green);
	padding: .9rem;
	border-radius: .5rem;
	margin-bottom: 1rem;
	box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.029);
}

input[type=submit] {
	-webkit-appearance: none;
	margin: 1rem 0;
}

.dark-btn {
	border: none;
	font-weight: bold;
	font-size: .8rem;
	min-width: 8rem;
	align-self: center;
	border-radius: 1rem;
	padding: .5rem 1rem;
	background: var(--dark-green);
	color: white;
	text-align: center;
}



