<!doctype HTML>
<HTML>
    
    <head>
		<meta charset="utf-8">
		<title>Sproutable</title>
	</head>

    <body>

        <div class="plant-search">
            <input type="text" placeholder="Find a plant...">
            <button type="submit">Search</button>
        </div>

        <div class="season-plants">

            <h1>This Season's Plants</h1>

            <table style="width:80%">
                <tr>
                  <th><a href='monstera-profile.html'><img src="../public/css/images/monstera.jpg" alt="Monstera" width=100%></a></th>
                  <th><a href='monstera-profile.html'><img src="../public/css/images/monstera.jpg" alt="Monstera" width=100%></a></th>
                  <th><a href='monstera-profile.html'><img src="../public/css/images/monstera.jpg" alt="Monstera" width=100%></a></th>
                </tr>
            </table>

        </div>

        <div class="rec-plants">

            <h1>Recommended for you</h1>

            <table style="width:80%">
                <tr>
                  <th><a href='monstera-profile.html'><img src="../public/css/images/monstera.jpg" alt="Monstera" width=100%></a></th>
                  <th><a href='monstera-profile.html'><img src="../public/css/images/monstera.jpg" alt="Monstera" width=100%></a></th>
                  <th><a href='monstera-profile.html'><img src="../public/css/images/monstera.jpg" alt="Monstera" width=100%></a></th>
                </tr>
            </table>

        </div>

    </body>

    


</HTML>
