<!DOCTYPE HTML>
<html>

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title> Sproutable Home </title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"/>
   <link href="../public/css/main.css" rel="stylesheet" type="text/css" />
</head>

<body>
	<div class="page">
		<div class="header">
			<div class="bar">
				<span> </span>
				<label class="title"> Sproutable </label>
				<span> </span>
			</div>
		</div>
	
		
		<main>
			<br/>
			<br/>
			<br/>
			<br/>
			<br/>
			{% for value in form_data.values() %} 
			<h2>Hi, {{value}}!</h2>
			{% endfor %}

			<div class="weekly-tasks flex-col">
				<h4>This Week's Tasks</h4>
				<p> Listed here are some weekly tasks like watering. </p>
			</div>

			<div class="green-tip flex-col">
				<h4> Green Tip of the Day </h4>
				<h5> {{tip_header}} </h5>
				<p> {{tip_body}} </p>
			</div>
		</main>
	

	<!--nav bar -->
	<nav>
		<a href="home.html"> <span class="home-filled-btn icon"> </span> Home </a>
		<a href="explore.html"> <span class="explore-outlined-btn icon"> </span> Explore </a>
		<a href="myplants.html"> <span class="myplants-outlined-btn icon"> </span> My Plants </a>
	</nav> 
</div>
</body>


</html>
