<!doctype HTML>
<html>

	<head>
		<meta charset="utf-8">
		<title>Sproutable</title>
	</head>

	<body>
		<h1>Monstera</h1>

        <img src="../public/css/images/monstera.jpg" alt="Monstera" width="30%">

        <div class="plant-care"> 

            <h3>Species Information</h3>
            <ul>
                <li>Is a cool plant.</li>
                <li>Looks like cheese.</li>
                <li>Very popular.</li>
            </ul>

        </div>

        <div class="plant-care"> 

            <h3>Plant Care</h3>
            <ul>
                <li>Water regularly.</li>
                <li>Give daily affirmations.</li>
                <li>uwu.</li>
            </ul>

        </div>

        <button type="button">+ Add to My Plants</button>
		
	</body>
</html>
