<!doctype HTML>
<html>

	<head>
		<meta charset="utf-8">
		<title>Sproutable</title>
	</head>

	<body>
		<h1>Your Plants</h1>

		{% for p in plist %}
		<div>
			<h2>{{p.get_name()}}</h2>
			<h3>{{p.get_type()}}</h3>
			<img src="../public/css/images/monstera.jpg" alt="Monstera">

			<p>Last watered: {{p.get_last_watered()}}<br>Registered: {{p.get_date_registered()}}</p>

		</div>
		{% endfor %}


		<!--
		<form class="flex-col">
			<input class="plant-search" type="text" placeholder="Find a plant...">
			<button class="search-btn" type="submit">Search</button>
		-->

		<!--nav bar -->
		<nav>
			<a href="/home.html"> <span class="home-filled-btn icon"> </span> Home </a>
			<a href="explore.html"> <span class="explore-outlined-btn icon"> </span> Explore </a>
			<a href="myplants.html"> <span class="myplants-outlined-btn icon"> </span> My Plants </a>
		</nav> 
	</body>
</html>
