<!doctype HTML>
<html>

	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Sproutable Monstera Profile</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"/>
        <link href="../public/css/main.css" rel="stylesheet">

	</head>

	<body>
		<div class="page">
			<div class="header">
				<div class="bar">
					<span> </span>
					<label class="title"> Your Plants </label>
					<span> </span>
				</div>
			</div>
		<main>
		<br>
		<br>
		<br>
		<br>
		<br>

		{% for p in plist %}
		<div>
			<h2>{{p.get_name()}}</h2>
			<h3>{{p.get_type()}}</h3>
			<img src="../public/css/images/monstera.jpg" alt="Monstera">

			<p>Last watered: {{p.get_last_watered()}}<br>Registered: {{p.get_date_registered()}}</p>

		</div>
		{% endfor %}

		</main>
		</div>


		<!--
		<form class="flex-col">
			<input class="plant-search" type="text" placeholder="Find a plant...">
			<button class="search-btn" type="submit">Search</button>
		-->

		<!--nav bar -->
		<nav>
			<a href="/home.html"> <span class="home-filled-btn icon"> </span> Home </a>
			<a href="explore.html"> <span class="explore-outlined-btn icon"> </span> Explore </a>
			<a href="myplants.html"> <span class="myplants-outlined-btn icon"> </span> My Plants </a>
		</nav> 
	</body>
</html>
